@media screen and (max-width: 1240px) {
  .gjkefjdgdwfgf {
    flex-direction: column;
    align-items: flex-start !important;
    gap: 16px;
  }
  .fidfjksdsk {
    width: 100% !important;
  }
}
@media screen and (max-width: 940px) {
  .wrapper-1 {
    flex-direction: column;
  }
  .wrapper-1 .join-game-search {
    min-height: 200px;
    width: 100%;
  }
  .wrapper-1 .brief-user {
    width: 100%;
  }
  .search-by-topics-navigation {
    overflow: auto !important;
    justify-content: flex-start !important;
    gap: 16px !important;
    height: 60px !important;
  }
  .search-by-topics-navigation::-webkit-scrollbar {
    width: 1px !important;
  }
  .w1-201 {
    flex-direction: column !important;
  }
  .w1-201 .navigation-term {
    width: 100% !important;
    order: 2;
  }
  .w1-201 .draft-term {
    width: 100% !important;
    align-items: center !important;
  }
  .right-side-admin {
    width: 100% !important;
  }
  .react-calendar__viewContainer {
    flex-direction: column;
  }
  .react-calendar__viewContainer .react-calendar__month-view {
    width: auto !important;
  }
  .jsdfdksfdesfdsd {
    flex-direction: column;
  }
  .jsdfdksfdesfdsd .navigation {
    width: 100% !important;
  }
  .jsdfdksfdesfdsd .load-library {
    width: 100% !important;
  }
  .setting-admin {
    align-items: flex-start !important;
  }
}
@media screen and (max-width: 500px) {
  .header .search-bar {
    display: none !important;
  }
  .header .menu-navigation {
    display: none !important;
  }
  .main-app {
    margin: 0 !important;
  }
  .main-app .join-game-search {
    min-height: 170px !important;
  }
  .main-app .join-game-search .container-search {
    width: 94% !important;
    height: 140px !important;
    flex-direction: column !important;
  }
  .main-app .join-game-search .container-search .search-bar-join {
    width: 100% !important;
  }
  .main-app .join-game-search .container-search .btn-join-game {
    width: 100% !important;
  }
  .main-app .brief-user {
    height: 140px !important;
  }
  .navigation-responsive {
    display: block !important;
  }
  .search-quiz .title-search-quiz {
    display: block;
  }
  .search-quiz .main-search-quiz {
    display: block;
  }
  .m-learn {
    justify-content: space-around !important;
    height: auto !important;
  }
  .header-test-fake {
    height: 128px !important;
  }
  .header-test {
    height: 128px !important;
    flex-wrap: wrap;
    gap: 10px !important;
    justify-content: space-around !important;
  }
  .header-test .header-test-2 {
    order: 2;
  }
}
@media screen and (max-width: 840px) {
  .header .navigation-component-link {
    display: none !important;
  }
  .wrap-main {
    flex-direction: column !important;
  }
  .wrap-main .wp {
    width: 100% !important;
  }
  .m-learn {
    height: 550px !important;
  }
}
@media screen and (max-width: 720px) {
  .ghjdhjiorhoiweesa > div {
    width: 100% !important;
  }
  .dvkadvadsfvdds {
    width: 100% !important;
  }
  .w-answer > div {
    width: 100% !important;
  }
}
@media screen and (max-width: 420px) {
  .navigation-component-link {
    display: none !important;
  }
  .w-learn {
    margin-top: 12px;
    padding: 5px !important;
  }
  .w-learn .m-learn {
    padding: 8px !important;
  }
}
@media screen and (max-width: 650px) {
  .description-create-set {
    padding: 0 12px;
  }
  .description-create-set > div {
    width: 100% !important;
  }
  .wrapper-permission-create-set > div {
    padding: 0 12px;
  }
  .title-create-set {
    padding: 0 12px;
  }
  .jf-583 {
    flex-direction: column !important;
    gap: 0 !important;
  }
  .jf-583 > div {
    padding: 0 !important;
    width: 100% !important;
  }
  .admin-page .navigation-admin {
    width: 100% !important;
    left: 0 !important;
  }
  .admin-page .navigation-admin .wkfpskdsfps {
    display: block !important;
  }
  .admin-page .wrapper-admin .left-side-admin {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    z-index: 9 !important;
    background: #fff !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
    height: 100vh !important;
    border-radius: 10px !important;
    transform: translateX(-100%);
  }
  .djiorjaeiortjewas {
    width: 100% !important;
  }
}/*# sourceMappingURL=responsive.css.map */